<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="jumbotron">
    <h1>너랑나랑은</h1>
    <p class="lead">멘티 기능</p>
    <p>
      <a class="btn btn-lg btn-secondary" href="/mentees/new">멘티 가입</a>
      <a class="btn btn-lg btn-secondary" href="/mentees">멘티 목록</a>
    </p>
    <p class="lead">멘토 기능</p>
    <p>
      <a class="btn btn-lg btn-dark" href="/mentors/new">멘토 등록</a>
      <a class="btn btn-lg btn-dark" href="/mentors">멘토 목록</a>
    </p>
    <p class="lead">매칭 기능</p>
    <p>
      <a class="btn btn-lg btn-info" href="/matching">매칭 조건</a>
      <a class="btn btn-lg btn-info" href="/matchingList">매칭 결과 </a>
    </p>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>