<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>아이디</th>
                <th>비밀번호</th>
                <th>이름</th>
                <th>학교</th>
                <th>성적</th>
                <th>학과</th>
<!--                <th>이미지</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.basicInfo?.ID}"></td>
                <td th:text="${member.basicInfo?.password}"></td>
                <td th:text="${member.basicInfo?.Rname}"></td>
                <td th:text="${member.basicInfo?.school}"></td>
                <td th:text="${member.basicInfo?.grade}"></td>
                <td th:text="${member.basicInfo?.subject}"></td>
<!--                <td th:text="${member.basicInfo?.file}"></td>-->
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>