<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>아이디이</th>
                <th>비밀번호</th>
<!--                <th>이름</th>-->
<!--                <th>학교</th>-->
                <th>성적</th>
<!--                <th>학과</th>-->
                <th>이미지</th>
            </tr>
            </thead>
            <tbody>
<!--            <img src="C:\Users\user\Desktop\java-spring\Capstone-2-group3-master2\Capstone-2-group3-master\youandme\youandme\src\main\resources\files\f04a9b2f-91cc-4ee1-a2aa-75b8d3f90bf4_image2.jpg" style="height:182px; width:352px" alt=""><td/><img src="resources/files/6be616e5-992c-4b5e-8e67-c25684ab3c0d_image2.jpg" style="height:182px; width:352px" alt=""><td/>-->
            <tr th:each="member : ${members}">
                <td th:text="${member.basicInfo?.ID}"></td>
                <td th:text="${member.basicInfo?.password}"></td>
<!--                <td th:text="${member.basicInfo?.Rname}"></td>-->
<!--                <td th:text="${member.basicInfo?.school}"></td>-->
                <td th:text="${member.basicInfo?.grade}"></td>
<!--                <td th:text="${member.basicInfo?.subject}"></td>-->
                <td th:text="${member.files?.fileOriName}"></td>
                <td th:text="${member.files?.fileName}"></td>
                <img th:src="|${member.files?.filePath}${member.files?.fileName}|"/>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>